.card {
  .card-body.dashboard-card {
    padding: 18px;
    padding-bottom: 20px;
  }
}

.user-group {
  img {
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    z-index: 2;
    transition: all 0.1s ease-in-out;
    border: 2px solid var(--bs-white);
    + img {
      margin-left: -14px;
    }
    &:hover {
      z-index: 5;
    }
  }
}

.badge-circle {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.button {
  color: #0fa958;      /* Text color */
  background-color: transparent; /* Optional: background */
  border: 1px solid #0fa958;    /* Optional: border */
  padding: 6px 12px;   /* Optional: spacing */
  border-radius: 4px;  /* Optional: rounded corners */
  text-decoration: none; /* Remove underline if it's a link */
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth hover transition */
}

.button:hover {
  color: #ffffff;
  background-color: #0fa958;
  border-color: #0fa958;
}
.btn-custom-green {
  background-color: #0fa958;
  color: white;
  border: none;
  
  &:hover {
    background-color: darken(#0fa958, 10%);
    color: white;
  }
}

/* Pagination container */
.pagination {
  justify-content: center; /* center align */
  margin-top: 20px;
}

/* Each page number */
.page-item .page-link {
  color: #0fa958;       /* Text color */
  background-color: #fff; /* Background color */
  border: 1px solid #0fa958; /* Border color */
  border-radius: 5px;
  margin: 0 3px;
  transition: all 0.3s;
}

/* Hover effect */
.page-item .page-link:hover {
  background-color: #0fa958;
  color: #fff;
  border-color: #0fa958;
}

/* Active page */
.page-item.active .page-link {
  background-color: #0fa958;
  color: #fff;
  border-color: #0fa958;
}

/* Disabled page */
.page-item.disabled .page-link {
  color: #ccc;
  border-color: #ddd;
}
.my-gradient-box {
  background: linear-gradient(to right, #f0fdf4, #eff6ff);
  border-bottom: 1px solid #e2e8f0;
  padding: 1rem 1.5rem;
}
