<!-- Vertical layout -->
<!-- Vertical layout -->
<ng-scrollbar style="height: calc(100vh - 49px)" visibility="hover" id="nav-ps-mantis">
  <div class="navbar-content d-flex flex-column align-items-start " style="padding: 2.5rem;">

    <!-- Buttons Container -->
    <div class="d-flex flex-column gap-3 w-100 mt-5">

      <!-- Home Button -->
      <button 
        class="btn button w-100 d-flex align-items-center gap-2 px-3 py-2"
        [routerLink]="['/dashboard/default']"
        routerLinkActive="active-btn"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class="fas fa-home"></i>
        <span>Home</span>
      </button>

      <!-- Driver Registration Button -->
      <button 
        class="btn button w-100 d-flex align-items-center  px-3 py-2" 
       style="gap: 4px;"
        [routerLink]="['/Driver-Registration']"
        routerLinkActive="active-btn"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class="fas fa-car"></i>
        <span>Driver Registration</span>
      </button>

    </div>

    <!-- Navigation List -->
    <ul class="nav coded-inner-navbar mt-4 w-100" (clickOutside)="fireOutClick()" (mouseleave)="navMob()">
      @for (item of navigations; track item) {
      @if (item.type === 'group') {
      <app-nav-group [item]="item"></app-nav-group>
      }
      }
    </ul>

  </div>
</ng-scrollbar>
